.o-cells-class-header{
  height: 86px;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.o-cells-div-header-title{
  flex-direction: row;
  align-items: center;
}
.o-cells-title-img{
  width: 10px;
  height: 38px;
}
.o-cells-header-title{
  font-size: 29px;
  color: #af730c;
}
.o-cells-div-more{
  align-items: center;
  flex-direction: row;
}
.o-cells-more-text{
  font-size: 25px;
  color: #666666;
}
.o-cells-more-img{
  width: 28px;
  height: 28px;
}
