.list-container{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #eeeeee;
}

.ohs-question-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  padding-top: 32px;
  padding-bottom: 28px;
}


.ohs-question-title{
  color: #101010;
  lines: 2;
  font-size: 32px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 24px;
}

.ohs-question-answer{
  lines:3;
  margin-top: 20px;
  color: #999999;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 28px;
  margin-bottom: 20px;
  overflow: hidden;  text-overflow: ellipsis;  -webkit-line-clamp: 4;
  display:-webkit-box; word-break: break-all; -webkit-box-orient: vertical;// 小程序中没有这个属性，限制行数失败
}
.ohs-question-keyword-text{
  font-size: 28px;
  margin-bottom: 22px;
  color: #999999;
  padding-left: 32px;
  padding-right: 32px;
}

.ohs-question-readnum{
  margin-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ohs-question-readnum-eye{
  width: 42px;
  height: 33px;
}
.ohs-question-readnum-text{
  font-size: 26px;
  color: #666666;
  margin-left: 10px;
}
.keyword-hightlight-span{
  color: red;
}
