.ohs-question-content-label{
  width: 166px;
  height: 45px;
  margin-top: 17px;
  margin-bottom: 19px;
  margin-left: 45px;
}

.ohs-question-content-container{
  margin: 43px;
  margin-top: 35px;
  overflow: hidden;
}

.ohs-question-content-text{
  color: #333333;
  font-size: 30px;
}

.ohs-question-content-bottom{
  height: 93px;
  justify-content:center;
  align-items: center;
}

.ohs-question-more{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F39800;
  font-size: 26px;
}
